@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root{
    --font: 'Roboto', sans-serif;
    --text-color: white;
    --text-number: #000;
}

.normal{
    background-color: #A8A77A;
}
.fire{
    background-color: #EE8130;
}
.water{
    background-color: #6390F0;
}
.electric{
    background-color: #f7f72c;
}
.grass{
    background-color: #4cc779;
}
.ice{
    background-color: #96D9D6;
}
.fighting{
    background-color: #C22E28;
}
.poison{
    background-color: #A33EA1;
}
.ground{
    background-color: #E2BF65;
}
.flying{
    background-color: #A98FF3;
}
.psychic{
    background-color: #F95587;
}
.bug{
    background-color: #A6B91A;
}
.rock{
    background-color: #B6A136;
}
.ghost{
    background-color: #735797;
}
.dragon{
    background-color: #6F35FC;
}
.dark{
    background-color: #705746;
}
.steel{
    background-color: #B7B7CE;
}
.fairy{
    background-color: #D685AD;
}

body{
    font-family: var(--font);
    box-sizing: border-box;
}

.content{
    width: 100vw;
    height: 100vh;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
}

.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.card{
    margin: 0.5rem;
    padding: 1rem;
    color: var(--text-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: auto;
}


.name{
    text-transform: capitalize;
}

.number{
    color: var(--text-number);
    text-align: right;
    font-size: 0.6rem;
}


.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail img{
    max-width: 100%;
    height: 70px;
}

.type{
    padding: 0.25rem 0.5rem;
    font-size: 0.6rem;
    margin: 0.2rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #462ed1;
    border: none;
    border-radius: 1rem;
    color: var(--text-color);
    padding: 0.25rem 0.5rem;
    margin: 0.2rem 0;
    font-size: 1rem;
}

@media screen and (min-width:992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }

    .pokemon{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:576px){
    .pokemon{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:390px){
    .pokemon{
        grid-template-columns: 1fr;
    }
}